@namespace GIBS.Module.PhotoGallery
@inherits ModuleBase
@inject ISettingService SettingService
@inject IStringLocalizer<Settings> Localizer
@inject IFolderService FolderService


<div class="row mb-1 align-items-center">
    <Label Class="col-sm-3" For="folderList" HelpText="Select the file folder" ResourceKey="FileFolder" ResourceType="@resourceType">Image Folder: </Label>
    <div class="col-sm-9">
        <select id="folderList" class="form-select" @bind="@_fileFolderId">
            @foreach (Folder folder in _folders)
            {
                <option value="@(folder.FolderId)">@(new string('-', folder.Level * 2))@(folder.Name)</option>
            }
        </select>
    </div>
</div>

<div class="row mb-1 align-items-center">
    <Label Class="col-sm-3" For="showPhotoTitle" HelpText="Select which fields to show on the form" ResourceKey="ShowFields" ResourceType="@resourceType">Show Photo Title: </Label>
    <div class="col-sm-9">
        <input type="checkbox" id="showPhotoTitle" class="form-check-input" @bind="@_showPhotoTitle" />
    </div>
</div>

<div class="row mb-1 align-items-center">
    <Label Class="col-sm-3" For="imageMaxWidth" HelpText="The maximum width for uploaded images (in pixels). The image will be resized if it exceeds this value." ResourceKey="ImageMaxWidth">Max Image Width: </Label>
    <div class="col-sm-9">
        <input id="imageMaxWidth" type="number" class="form-control" @bind="@_imageMaxWidth" />
    </div>
</div>
<div class="row mb-1 align-items-center">
    <Label Class="col-sm-3" For="imageMaxHeight" HelpText="The maximum height for uploaded images (in pixels). The image will be resized if it exceeds this value." ResourceKey="ImageMaxHeight">Max Image Height: </Label>
    <div class="col-sm-9">
        <input id="imageMaxHeight" type="number" class="form-control" @bind="@_imageMaxHeight" />
    </div>
</div>

<div class="row mb-1 align-items-center">
    <Label Class="col-sm-3" For="imageThumbWidth" HelpText="The width for Thumbnail image (in pixels)." ResourceKey="ImageMaxWidth">Thumbnail Image Width: </Label>
    <div class="col-sm-9">
        <input id="imageThumbWidth" type="number" class="form-control" @bind="@_imageThumbWidth" />
    </div>
</div>
<div class="row mb-1 align-items-center">
    <Label Class="col-sm-3" For="imageThumbHeight" HelpText="The Thumbnail height for uploaded images (in pixels). " ResourceKey="ImageMaxHeight">Thumbnail Image Height: </Label>
    <div class="col-sm-9">
        <input id="imageThumbHeight" type="number" class="form-control" @bind="@_imageThumbHeight" />
    </div>
</div>

@code {
    private string resourceType = "GIBS.Module.PhotoGallery.Settings, GIBS.Module.PhotoGallery.Client.Oqtane"; // for localization
    public override string Title => "PhotoGallery Settings";


    private List<Folder> _folders = new List<Folder>();
    private string _fileFolderId;
    private string _imageThumbWidth;
    private string _imageThumbHeight;
    private string _imageMaxWidth;
    private string _imageMaxHeight;
    private bool _showPhotoTitle;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _folders = await FolderService.GetFoldersAsync(PageState.Site.SiteId);

            Dictionary<string, string> settings = await SettingService.GetModuleSettingsAsync(ModuleState.ModuleId);
            _fileFolderId = SettingService.GetSetting(settings, "FileFolderId", "");
            _imageThumbWidth = SettingService.GetSetting(settings, "ImageThumbWidth", "360");
            _imageThumbHeight = SettingService.GetSetting(settings, "ImageThumbHeight", "360");
            _imageMaxWidth = SettingService.GetSetting(settings, "ImageMaxWidth", "1600");
            _imageMaxHeight = SettingService.GetSetting(settings, "ImageMaxHeight", "900");
            _showPhotoTitle = bool.Parse(SettingService.GetSetting(settings, "ShowPhotoTitle", "true"));
        }
        catch (Exception ex)
        {
            AddModuleMessage(ex.Message, MessageType.Error);
        }
    }

    public async Task UpdateSettings()
    {
        try
        {
            var settings = await SettingService.GetModuleSettingsAsync(ModuleState.ModuleId);
            settings = SettingService.SetSetting(settings, "ImageThumbWidth", _imageThumbWidth);
            settings = SettingService.SetSetting(settings, "ImageThumbHeight", _imageThumbHeight);
            SettingService.SetSetting(settings, "ImageMaxWidth", _imageMaxWidth);
            SettingService.SetSetting(settings, "ImageMaxHeight", _imageMaxHeight);
            settings = SettingService.SetSetting(settings, "FileFolderId", _fileFolderId);
            settings = SettingService.SetSetting(settings, "ShowPhotoTitle", _showPhotoTitle.ToString());
            await SettingService.UpdateModuleSettingsAsync(settings, ModuleState.ModuleId);
        }
        catch (Exception ex)
        {
            AddModuleMessage(ex.Message, MessageType.Error);
        }
    }
}
